.post {
}

.first {
}

.post, .columns.post:last-child {
   border: 1px solid #ddd;
   margin: 4px 2px;
   padding: 0px 0px 12px 0px;
   background-color: #fcfcfc;
   float: none;
}
.posts {
   margin: 12px auto;
}
.post>h5 {
   margin: 0px 0px 6px 0px;
   padding: 6px;
   border-bottom: 1px solid #eee;
}
.post>h4 {
       margin: 0px 0px 6px 0px;
   padding: 6px;
   border-bottom: 1px solid #eee;
}
.post>.row {
   padding: 6px;
}
