@(board: models.Board, threads: List[(models.Thread, List[models.Post])], threadForm: Form[(String, String)])

@main {
  <div class='row'>
    <div class='large-12 columns'>
      <h2>/@board.shortName/ - @board.name</h2>
    </div>
  </div>

  @for( (thread, posts) <- threads ) {
    @views.html.posts(thread, posts, Some(routes.Thread.show(board.shortName, thread.id).url))
  }

  <div class='row'>
    <div class='large-6 columns'>
      <h4>New Thread</h4>
      @helper.form(action = routes.Thread.create(board.shortName), 'enctype -> "multipart/form-data") {

        @helper.inputText(threadForm("Title"))

        @helper.textarea(threadForm("Content"))

        <input type='file' name='Image' />

        <input type='Submit' class='button' />

      }
    </div>
  </div>
}
