@(thread: models.Thread, post: models.Post, link: Option[String])
<div class='small-12 columns first post'>
  <h4>@thread.title - @thread.createdAt - @post.id
    @link match {
      case Some(link) => {
        <a href='@link'>View</a>
      }
      case _ => {}
    }
  </h4>
  @post.s3Url match {
    case Some(s3Url) => {
      <div class='row'>
        <div class='small-4 columns'>
          <a href='@s3Url' target='_blank'>
            <img src='@s3Url' />
          </a>
        </div>
        <div class='small-8 columns'>@post.content</div>
      </div>
    }
    case None => {
      <div class='row'>
        <div class='small12 columns'>@post.content</div>
      </div>
    }
  }
</div>
