@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Dubschan</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dubschan.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/dubschan.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
    <footer>
      <div class='row'>
        <div class='small-12 columns'>
          <a href='@routes.Board.show("v")'>v</a>
        </div>
      </div>
    </footer>
</html>
