@(thread: models.Thread, posts: List[models.Post], link: Option[String])

<div class='row posts'>
  <div class='small-12 columns first post'>
    <h4>@thread.title - @thread.created_at - @posts.head.id
      @link match {
        case Some(link) => {
          <a href='@link'>View</a>
        }
        case _ => {}
      }
    </h4>
    @views.html.post(posts.head)
  </div>
  @for( p <- posts.drop(1) ) {
    <div class='small-12 columns post'>
      <h5>@p.created_at - @p.id</h5>
      @views.html.post(p)
    </div>
  }
</div>
