@(thread: models.Thread, posts: List[models.Post], link: Option[String])

<div class='row'>
  <div class='large-12 columns'>
    <h4>@thread.title - @thread.created_at - @posts.head.id
      @link match {
        case Some(link) => {
          <a href='@link'>View</a>
        }
        case _ => {}
      }
    </h4>
    <div class='row post'>
      <div class='large-12 columns'>
        @posts.head.imageName match {
          case Some(imageName) => {
            <img src='@routes.Image.show(posts.head.id, imageName)' />
          }
          case _ => {}
        }
      </div>
      <div class='large-12 columns'>@posts.head.content</div>
    </div>
    @for( p <- posts.drop(1) ) {
      <div class='row post'>
        <div class='large-12 columns'>
          <h5>@p.created_at - @p.id</h5>
          @p.imageName match {
            case Some(imageName) => {
              <img src='@routes.Image.show(p.id, imageName)' />
            }
            case _ => {}
          }
        </div>
        <div class='large-12 columns'>@p.content</div>
      </div>
    }
  </div>
</div>
