@(board: Board, thread: models.Thread, posts: List[models.Post], postForm: Form[String])

@main {
  <div class='row'>
    <div class='small-12 columns'>
      <h2>/@board.shortName/ - @board.name</h2>
    </div>
  </div>

  @views.html.posts(thread, posts, None)

  <div class='row'>
    <div class='small-6 columns'>
      <h4>Respond to thread</h4>
      @helper.form(action = routes.Post.create(board.shortName, thread.id), 'enctype -> "multipart/form-data") {
        @helper.textarea(postForm("Content"))

        <input type='file' name='Image' />

        <input type='Submit' class='button' />
      }
    </div>
  </div>
  <input id='post-feed-url' type='hidden' value='@routes.Post.feed(thread.id).url' />
}
