@(board: Board, thread: models.Thread, posts: List[models.Post], postForm: Form[String])

@main {
  <div class='row'>
    <div class='large-12 columns'>
      <h2>/@board.shortName/ - @board.name</h2>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      <h4>@thread.title - @posts.head.id</h4>
      @for( p <- posts ) {
        <div class='row'>
          <div class='large-12 columns'>
            <h4>@p.created_at - @p.id</h4>
            @p.imagePath match {
              case Some(imagePath) => {
                <img src='@imagePath' />
              }
              case _ => {}
            }
            <div>@p.content</div>
          </div>
        </div>
        <hr />
      }
    </div>
  </div>

  <div class='row'>
    <div class='large-6 columns'>
      <h4>Respond to thread</h4>
      @helper.form( action = routes.Post.create(board.shortName, thread.id), 'enctype -> "multipart/form-data" ) {
        @helper.textarea(postForm("Content"))

        <input type='file' name='Image' />

        <input type='Submit' class='button' />
      }
    </div>
  </div>
}
